/****************************************
              CSS for Notes
****************************************/

/*#notes-body {
  background: #FFF;
}*/
.container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 10%;
}

a{
  text-decoration: none;
}

@keyframes onLoad{
  0%{
    border-radius: 20%;
    opacity: 0.2;
    left: 12rem;
    /* top: 10rem; */
    box-shadow:0px 1px 20px -10px #33DDFF;
    transform: rotate3d(0, 0, 0, 70deg);
  }

  50%{
    border-radius: 10%;
    opacity: 0.6;
    left: 7rem;
    /* top: 2rem; */
    box-shadow:0px 1px 30px -10px #33DDFF;
    
  }
  
  60%{
    border-radius: 5%;
    opacity: 0.8;
    left: -3rem;
    /* top: 2rem; */
    box-shadow:0px 1px 40px -10px #33DDFF;
  }

  100%{
    border-radius: 2%;
    opacity: 1;
    left: 0;
    top: 0;
    box-shadow:0px 1px 50px -10px #33DDFF;
  }
}
.col {
  width: 100%;
}

#main-row{
  padding: 0.5rem;
  padding-bottom: 0;
}

.card {
  box-shadow:0px 1px 50px -17px #33DDFF;
  border-radius: 2%;
  position: relative;
  animation: onLoad 2s ease-in-out 0s 1;
}
.card-content {
  padding: 3%;
}
.card-title {
  display: block;
  margin-bottom: 1%;
  font-size: 3rem;
  text-align: center;
  opacity: 0.9;
  font-family: 'Aclonica', sans-serif;
  color: #FFF;
  background-color: rgba(30, 214, 214, 1);
  border-radius: 10px;
  box-shadow:0px 1px 50px -15px rgba(30, 214, 214, 1);
}
.row {
  margin-bottom: 2%;
}
#task {
  display: block;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}
label {
  font-size: .8rem;
  color: #9e9e9e;
}
.input-field {
  margin-top: 1.3rem;
  margin-bottom: 1rem; 
  position: relative;
}
.task-label {
  color: #474747;
  position: absolute;
  top: -1.2rem;
  left: 0;
  font-size: 1.6rem;
  cursor: text;
  transition: all ease 1s;
  font-weight: 700;
  
}
.input-field:hover > .task-label {
    top: 0;
    left: 0;
    transition: all ease 1s;
    font-size: 0.8rem;
    opacity: 0.3;
    color: #9e9e9e;

}
.add-task-btn {
  padding: 1% 2% !important;
  /* width: 15% !important; */
  background: rgba(89, 201, 165, 1);
  font-size: 1.2rem !important;
  text-transform: capitalize;
  font-weight: 700;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.5);
}
.add-task-btn:hover {
  background: rgba(89, 201, 165, 0.7);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.7)
}
input[type="radio"]{
  font-size: 2em;
  width: 0.8em;
  height: 0.7em;
}

#categoryName{
  font-size: 1.1em;
  margin-right: 1em;
  margin-top: 0.4em;
  margin-left: 0.2em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  position: relative;
  top: -0.23em;
}
.card-content .row{
  padding-bottom: 3%;
  border-bottom: double 5px rgba(0, 0, 0, 0.2);
}
.card-action {
  padding: 1.5rem;
  padding-top: 0.7rem;
  box-shadow: 1px 1px 50px -10px rgba(93, 147, 225, 0.7);
  border-radius: 1em;
}
#task-title {
  margin: 0.3em 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 110%;
}
#filter {
  display: block;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}
.collection {
  margin: .5rem 0 2.3em 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: 0;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.7);
  
}
.collection-item {
  padding: 0.6rem 1.2rem;
  border: 1px solid #e0e0e0;
  transition: all linear 0.2s; 
}
.collection-item:hover {
  font-size: 1.4rem;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.7);
  transition: all linear 0.2s; 
  border-left: solid 1em rgba(93, 147, 225, 0.7);
}
.delete-item, .complete-item {
  float: right;
  background: none;
  cursor: pointer;
  transition: all linear 0.2s;
}
.complete-item:hover {
  transform:rotateY(170deg); 
  transition: all linear 0.2s; 
}
.delete-item:hover {
  transform:rotateY(170deg); 
  transition: all linear 0.2s; 
}
.delete-item::after{
  content: " ";
  clear: both;
  display: block;
}
.add-task-btn.black {
  background-color: #000;
  box-sizing: border-box;
  transition: all linear 0.3s;
}
.add-task-btn.black:hover{
  background-color: rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.7);
}

#back-image-notes{
  float:left;
  width:10%;
}

#task-complete {
  text-decoration: line-through;
}
#category-head{
  font-family: 'Amaranth', sans-serif;
  color: rgba(93, 147, 225, 1);
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.4);
  border-radius: 0.6em;
  padding: 0.2em;
  padding-left: 0.7em;
  font-weight: 100;
  font-size: 2em;
}
#collection-list{
  margin-top: 0; 
}